<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="public/css/skeleton.css">
    <link rel="stylesheet" href="public/css/normalize.css">
    <link rel="stylesheet" href="public/css/chat.css">
    <link rel="stylesheet" href="public/css/font-awesome.css">
</head>

<body class="container" ng-app="chat">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<div class="row" ng-controller="AppController">
    <div class="three columns"></div>
    <div class="six columns">
        <div class="panel panel-default">
            <div class="row">
                <div class="six columns people-list">
                    <div list-user-item class="people-list-item clearfix" ng-repeat="user in users">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar">
                        <div class="about">
                            <div class="name">Aiden Chavez</div>
                            <div class="status">
                                <i class="fa fa-circle offline"></i> left 7 mins ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="six columns">
                    <div class="chat-history">
                        <div class="chat-history-item" ng-repeat="message in getMessages(currentUserId)">
                            <div class="row">
                                <div class="chat-history-msg col-md-12">
                                    <div ng-class="getClassByDirection(message.direction)" style="max-width:70%">{{ message.content }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-bottom:0px;"/>
                    <div class="chat-input">
                        <div class="form-group" style="margin:0px;">
                            <textarea class="form-control" chat-input></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three columns"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script src="public/js/talker.js"></script>
<script src="public/js/app.js"></script>

</body>
</html>